<!-- Header Toolbar -->

<header></header>>

<!-- Central Containt -->
<div class="content-div">

  <!-- SideBar List -->
  <sidenavbar></sidenavbar>

<!-- Main Grid -->

  <div class='content-card' >

    

  <div class="content-div">

    <h5 style="text-align: left; ">Add New Distributor</h5>  
    <hr class="hr-silver">

    
    
    <div style="margin-top: 2%;">
    
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    
        <div style="font-size: 100%; text-align: center" *ngIf=formError class="loginFormErrorDiv">
          <p class="alert alert-danger">
            Email / Password already exists  
            <br>
            OR
            <br>
            Area is already allocated
          </p>
      </div>
    
        <div class="form-group" >
                
          <label>Distributer Name</label>
          <input type="text" [class.is-invalid]="addUserForm.get('retName').invalid
                  && addUserForm.get('retName').touched"
                 [class.is-valid]="addUserForm.get('retName').valid" 
                 formControlName="retName" class="form-control">
    
                 <small class="text-danger"
                        [class.d-none]="addUserForm.get('retName').valid
                        || addUserForm.get('retName').untouched">
                     Invalid name </small>
          
        </div>
    
        <div class="form-group">
                
          <label>Email</label>
          <input type="email" [class.is-invalid]="addUserForm.get('retEmail').invalid
                  && addUserForm.get('retEmail').touched"
                 [class.is-valid]="addUserForm.get('retEmail').valid" 
                 formControlName="retEmail" class="form-control">
    
                 <small class="text-danger"
                        [class.d-none]="addUserForm.get('retEmail').valid
                        || addUserForm.get('retEmail').untouched">
                     Invalid email  </small>
          
        </div>
    
        <div class="form-group" hidden="true">
          
            <label>Password</label>
            <input type="text" [class.is-invalid]="addUserForm.get('retPassword').invalid
                    && addUserForm.get('retPassword').touched"
                    [class.is-valid]="addUserForm.get('retPassword').valid" 
                    formControlName="retPassword" class="form-control">
            <small [class.d-none]="addUserForm.get('retPassword').valid"> 
                    Invalid password (minimum 6 characters required) </small>
            
        </div>
    
        <div class="form-group">
                
          <label>Address</label>
          <input type="text" [class.is-invalid]="addUserForm.get('retAddress').invalid
                  && addUserForm.get('retAddress').touched"
                 [class.is-valid]="addUserForm.get('retAddress').valid" 
                 formControlName="retAddress" class="form-control">
    
                 <small class="text-danger"
                        [class.d-none]="addUserForm.get('retAddress').valid
                        || addUserForm.get('retAddress').untouched">
                        Invalid <b>address</b> </small>
          
        </div>
    
        <div class="form-group">
                
          <label>Mobile number</label>
          <input type="tel" [class.is-invalid]="addUserForm.get('retContact').invalid
                  && addUserForm.get('retContact').touched"
                 [class.is-valid]="addUserForm.get('retContact').valid" 
                 formControlName="retContact" class="form-control">
          <small [class.d-none]="addUserForm.get('retPassword').valid"> 
                  Note : Contact number must be in 10 digits .</small>
                 <small class="text-danger"
                        [class.d-none]="addUserForm.get('retContact').valid
                        || addUserForm.get('retContact').untouched">
                       Invalid <b>mobile number</b> </small>
          
        </div>
    
        <div class="form-group">
                
          <label>City of sale</label> &nbsp; &nbsp;
          
          <!-- <input type="text" [class.is-invalid]="addUserForm.get('retArea').invalid
                  && addUserForm.get('retArea').touched"
                 [class.is-valid]="addUserForm.get('retArea').valid" 
                 formControlName="retArea" class="form-control"> -->
          
                 <select formControlName="retArea" value="" >
                    <option selected="selected">- Select -</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color:#000000"><i>-Top Metropolitan Cities-</i></option>
                    <option>Ahmedabad</option> 
                    <option>Bengaluru</option>
                    <option>Chandigarh</option>
                    <option>Chennai</option>
                    <option>Delhi</option>
                    <option>Gurgaon</option>
                    <option>Hyderabad</option>
                    <option>Kolkatta</option>
                    <option>Mumbai</option>
                    <option>Noida</option>
                    <option>Pune</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color: black"><i>-Andhra Pradesh-</i></option>
                    <option>Anantapur</option>
                    <option>Guntakal</option>
                    <option>Guntur</option>
                    <option>Hyderabad</option>
                    <option>Kakinada</option>
                    <option>Kurnool</option>
                    <option>Nellore</option>
                    <option>Nizamabad</option>
                    <option>Rajahmundry</option>
                    <option>Tirupati</option>
                    <option>Vijayawada</option>
                    <option>Visakhapatnam</option>
                    <option>Warangal</option>
                    <option>Andra Pradesh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color: black"><i>-Arunachal Pradesh-</i></option>
                    <option>Itanagar</option>
                    <option>Arunachal Pradesh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Assam-</i></option>
                    <option>Guwahati</option>
                    <option>Silchar</option>
                    <option>Assam-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Bihar-</i></option>
                    <option>Bhagalpur</option>
                    <option>Patna</option>
                    <option>Bihar-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Chhattisgarh-</i></option>
                    <option>Bhillai</option>
                    <option>Bilaspur</option>
                    <option>Raipur</option>
                    <option>Chhattisgarh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Goa-</i></option>
                    <option>Panjim</option>
                    <option>Vasco Da Gama</option>
                    <option>Goa-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Gujarat-</i></option>
                    <option>Ahmedabad</option>
                    <option>Anand</option>
                    <option>Ankleshwar</option>
                    <option>Bharuch</option>
                    <option>Bhavnagar</option>
                    <option>Bhuj</option>
                    <option>Gandhinagar</option>
                    <option>Gir</option>
                    <option>Jamnagar</option>
                    <option>Kandla</option>
                    <option>Porbandar</option>
                    <option>Rajkot</option>
                    <option>Surat</option>
                    <option>Vadodara</option>
                    <option>Valsad</option>
                    <option>Vapi</option>
                    <option>Gujarat-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Haryana-</i></option>
                    <option>Ambala</option>
                    <option>Chandigarh</option>
                    <option>Faridabad</option>
                    <option>Gurgaon</option>
                    <option>Hisar</option>
                    <option>Karnal</option>
                    <option>Kurukshetra</option>
                    <option>Panipat</option>
                    <option>Rohtak</option>
                    <option>Haryana-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Himachal Pradesh-</i></option>
                    <option>Dalhousie</option>
                    <option>Dharmasala</option>
                    <option>Kulu-Manali</option>
                    <option>Shimla</option>
                    <option>Himachal Pradesh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Jammu and Kashmir-</i></option>
                    <option>Jammu</option>
                    <option>Srinagar</option>
                    <option>Jammu and Kashmir-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Jharkhand-</i></option>
                    <option>Bokaro</option>
                    <option>Dhanbad</option>
                    <option>Jamshedpur</option>
                    <option>Ranchi</option>
                    <option>Jharkhand-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Karnataka-</i></option>
                    <option>Bengaluru</option>
                    <option>Belgaum</option>
                    <option>Bellary</option>
                    <option>Bidar</option>
                    <option>Dharwad</option>
                    <option>Gulbarga</option>
                    <option>Hubli</option>
                    <option>Kolar</option>
                    <option>Mangalore</option>
                    <option>Mysuru</option>
                    <option>Karnataka-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Kerala-</i></option>
                    <option>Calicut</option>
                    <option>Cochin</option>
                    <option>Ernakulam</option>
                    <option>Kannur</option>
                    <option>Kochi</option>
                    <option>Kollam</option>
                    <option>Kottayam</option>
                    <option>Kozhikode</option>
                    <option>Palakkad</option>
                    <option>Palghat</option>
                    <option>Thrissur</option>
                    <option>Trivandrum</option>
                    <option>Kerela-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Madhya Pradesh-</i></option>
                    <option>Bhopal</option>
                    <option>Gwalior</option>
                    <option>Indore</option>
                    <option>Jabalpur</option>
                    <option>Ujjain</option>
                    <option>Madhya Pradesh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Maharashtra-</i></option>
                    <option>Ahmednagar</option>
                    <option>Aurangabad</option>
                    <option>Jalgaon</option>
                    <option>Kolhapur</option>
                    <option>Mumbai</option>
                    <option>Mumbai Suburbs</option>
                    <option>Nagpur</option>
                    <option>Nasik</option>
                    <option>Navi Mumbai</option>
                    <option>Pune</option>
                    <option>Solapur</option>
                    <option>Maharashtra-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Manipur-</i></option>
                    <option>Imphal</option>
                    <option>Manipur-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Meghalaya-</i></option>
                    <option>Shillong</option>
                    <option>Meghalaya-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Mizoram-</i></option>
                    <option>Aizawal</option>
                    <option>Mizoram-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Nagaland-</i></option>
                    <option>Dimapur</option>
                    <option>Nagaland-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Orissa-</i></option>
                    <option>Bhubaneshwar</option>
                    <option>Cuttak</option>
                    <option>Paradeep</option>
                    <option>Puri</option>
                    <option>Rourkela</option>
                    <option>Orissa-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Punjab-</i></option>
                    <option>Amritsar</option>
                    <option>Bathinda</option>
                    <option>Chandigarh</option>
                    <option>Jalandhar</option>
                    <option>Ludhiana</option>
                    <option>Mohali</option>
                    <option>Pathankot</option>
                    <option>Patiala</option>
                    <option>Punjab-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Rajasthan-</i></option>
                    <option>Ajmer</option>
                    <option>Jaipur</option>
                    <option>Jaisalmer</option>
                    <option>Jodhpur</option>
                    <option>Kota</option>
                    <option>Udaipur</option>
                    <option>Rajasthan-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Sikkim-</i></option>
                    <option>Gangtok</option>
                    <option>Sikkim-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Tamil Nadu-</i></option>
                    <option>Chennai</option>
                    <option>Coimbatore</option>
                    <option>Cuddalore</option>
                    <option>Erode</option>
                    <option>Hosur</option>
                    <option>Madurai</option>
                    <option>Nagerkoil</option>
                    <option>Ooty</option>
                    <option>Salem</option>
                    <option>Thanjavur</option>
                    <option>Tirunalveli</option>
                    <option>Trichy</option>
                    <option>Tuticorin</option>
                    <option>Vellore</option>
                    <option>Tamil Nadu-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Tripura-</i></option>
                    <option>Agartala</option>
                    <option>Tripura-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Union Territories-</i></option>
                    <option>Chandigarh</option>
                    <option>Dadra & Nagar Haveli-Silvassa</option>
                    <option>Daman & Diu</option>
                    <option>Delhi</option>
                    <option>Pondichery</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color : black"><i>-Uttar Pradesh-</i></option>
                    <option>Agra</option>
                    <option>Aligarh</option>
                    <option>Allahabad</option>
                    <option>Bareilly</option>
                    <option>Faizabad</option>
                    <option>Ghaziabad</option>
                    <option>Gorakhpur</option>
                    <option>Kanpur</option>
                    <option>Lucknow</option>
                    <option>Mathura</option>
                    <option>Meerut</option>
                    <option>Moradabad</option>
                    <option>Noida</option>
                    <option>Varanasi/Banaras</option>
                    <option>Uttar Pradesh-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color: black"><i>-Uttaranchal-</i></option>
                    <option>Dehradun</option>
                    <option>Roorkee</option>
                    <option>Uttaranchal-Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243);color : black"><i>-West Bengal-</i></option>
                    <option>Asansol</option>
                    <option>Durgapur</option>
                    <option>Haldia</option>
                    <option>Kharagpur</option>
                    <option>Kolkatta</option>
                    <option>Siliguri</option>
                    <option>West Bengal - Other</option>
                    <option disabled="disabled" style="background-color:rgb(183, 226, 243); color: black"><i>-Other-</i></option>
                    <option>Other</option>
                </select>                 
                 
                 <small class="text-danger"
                        [class.d-none]="addUserForm.get('retArea').valid
                        || addUserForm.get('retArea').untouched">
                    Enter valid area </small>
          
        </div>
          
        
    
        <div style="margin-left: 25%">
    
          <button mat-raised-button type="submit" 
                  matTooltip="Submit all Details"
                  [disabled]="addUserForm.get('retName').invalid 
                   || addUserForm.get('retEmail').invalid || addUserForm.get('retAddress').invalid
                   || addUserForm.get('retContact').invalid || addUserForm.get('retArea').invalid" 
                  style="padding-right: 5% ; ">
            <mat-icon>cloud_upload</mat-icon>
            Submit Details
          </button>
    
          &nbsp;
    
          <button mat-raised-button  
                  matTooltip="Clear all Input Fields"
                  type="reset" style="padding-right: 5.5% ;margin-left: 3%">
            <mat-icon>format_clear</mat-icon>
            Clear All Fields
          </button>
    
          <button mat-raised-button  
                  matTooltip="Cancel"
                  (click)="onClickCancel()"
                  type="reset" style="padding-right: 5.5% ;margin-left: 3%">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
    
        </div>
    
    
      </form>
    
    </div>
     
    
  </div>
    
</div>

<ngx-loading [show]="loading" 
             [config]="{ primaryColour: 'rgb(183, 226, 243)', backdropBorderRadius: '3px'}">
</ngx-loading>


</div>


