<!-- Header Toolbar -->

<header></header>
  
  
  <!-- Central Containt -->
  <div class="content-div">
  
    <!-- SideBar List -->
    <sidenavbar></sidenavbar>
  
  <!-- Main Grid -->
  
    <div class='content-card' >
  

        <div class="content-div" >
          
    
                <h5 style="text-align: left; "> <mat-icon> </mat-icon> &nbsp; Change Password</h5>
                 <hr style="border: solid thin  silver">
        
        
                <div>

                  <form #passwordForm="ngForm">

                      <div class="form-group " >
        
                          <label for="password" >Password</label>
                          <input ngModel name="ipPassword" type="password" 
                                 #ipPassword="ngModel" class="form-control" #oldPassword="ngModel" required
                                 minlength="5"                           
                                 [class.is-invalid]="ipPassword.invalid && ipPassword.touched"
                                 [(ngModel)]="passwordUpdator.oldPassword" name="oldPassword">
                          
                              <small class="text-danger" 
                              *ngIf=" ipPassword.invalid && ipPassword.touched ">Invalid Password</small>                                  
                                 
                      </div>
        
                      <div class="form-group">
      
                        <label >New Password</label>
                        
                        <input required minlength="8" maxlength="20"  class="form-control"
                               pattern="^(?=[a-zA-Z0-9#@$?]{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9]).*" 
                               ngModel name="userPassword" type="password"
                               [class.is-valid]="userPassword.valid"                               
                               [class.is-invalid]="userPassword.invalid && userPassword.touched  && userPassword.errors.required "
                               #userPassword="ngModel" [(ngModel)]="passwordUpdator.newPassword">
                        
                        <small class="text-danger" *ngIf="!userPassword.valid && userPassword.errors.minlength ">At least 8 characters are required !</small >
                        
                        <small class="text-danger" *ngIf="!userPassword.valid && userPassword.errors.required && userPassword.touched"> Password is required.</small > 
                        
                        <small class="text-danger" *ngIf="!userPassword.valid && userPassword.errors.pattern">
                        
                        Password must contain 1 special character, 1 uppercase letter, 1 lowercase letter and 1 numeric value.
                        
                        </small>
                                          
                        </div>
                        
                        
                        
                        <div class ="form-group">
                                     
                        <label >Confirm Password</label>
                        
                        <input required minlength="8" maxlength="20" ngModel name="cuserPassword" 
                               [class.is-valid]="cuserPassword.valid && (cuserPassword.value === userPassword.value)"                               
                               [class.is-invalid]="cuserPassword.invalid && cuserPassword.touched"
                               type ="password" #cuserPassword="ngModel"  class="form-control">
                        
                        <small class="text-danger" *ngIf="cuserPassword.dirty && cuserPassword.value !== userPassword.value">Password didn't match !</small >
                        
                        <small class="text-danger" *ngIf="!cuserPassword.valid && cuserPassword.errors.minlength ">At least 8 characters are required !</small>
                        
                        <mat-hint *ngIf="cuserPassword.dirty && cuserPassword.value === userPassword.value ">Password matched !</mat-hint>
                        
                     
                        
                        </div>
                        

                </form>

                  <!-- <form  [formGroup]="passwordForm" (ngSubmit)="onClickUpdatePassword()" style="margin-top: 2% ">
                        
                    <div class="form-group">
                      
                      <label >Current Password</label>
                      <input type="password"  formControlName="oldPassword"
                             [class.is-invalid]="passwordForm.get('oldPassword').invalid
                             && passwordForm.get('oldPassword').touched"
                             [class.is-valid]="passwordForm.get('oldPassword').valid" 
                             class="form-control">
                 
                      <small class="text-danger"
                              [class.d-none]="passwordForm.get('oldPassword').valid || 
                              passwordForm.get('oldPassword').untouched">
                            
                            Invalid Password Entered (Min. 6 characters required)
                  
                      </small>

                    </div>

                    <mat-form-field class="full-width">
                        <input type="password" matInput formControlName="newPassword"
                           placeholder="New Password" >
                    </mat-form-field>

                  <small class="text-danger"
                          [class.d-none]="passwordForm.get('oldPassword').valid || passwordForm.get('oldPassword').untouched">
                          
                          Invalid Password Entered (Min. 6 characters required)
                    
                  </small>
                
                  <mat-form-field class="full-width">
                      <input type="password" matInput formControlName="confirmPassword"
                             placeholder="Confirm Password" >
                  </mat-form-field>

                  <small class="text-danger"
                            [class.d-none]="passwordForm.get('confirmPassword').valid || passwordForm.get('confirmPassword').untouched">

                            Invalid Password Entered (Min. 6 characters required)
                
                    </small>
                    

                              
                  </form> -->

                </div>

                
                <div style="margin-top: 5%">
                
                    <button mat-raised-button 
                        class="btn btn-secondary"
                        matTooltip="Update Details"
                        aria-label="Button that displays a tooltip that can be programatically disabled"
                        [disabled]="oldPassword.invalid || userPassword.invalid || cuserPassword.invalid"
                        style="width:25%; margin-left:15%; margin-right: 10%; " 
                        (click)="onClickUpdatePassword()"
                        >
                        <mat-icon >done</mat-icon>                  
                        Update Password
                    </button>
                
                    <!-- [disabled]="passwordForm.get(oldPassword).invalid ||
                    passwordForm.get(newPassword).invalid ||
                    passwordForm.get(confirmPassword).invalid"
        -->
                
                    <button mat-raised-button 
                    class="btn btn-secondary"
                    matTooltip="Cancel Editing"
                    aria-label="Button that displays a tooltip that can be programatically disabled"
                    style="width:25%; left:5%; " 
                    (click)="onClickCancel()"
                    >
                    <mat-icon >clear</mat-icon>                  
                    Cancel  
                </button>
                
                
                </div>
        
           
                 
       </div>
  
 
      
    </div>
  
  </div>
