<!-- Header Toolbar -->

<header></header>

    <!-- Central Containt -->
    <div class="content-div">
    
        <!-- SideBar List -->
        <sidenavbar></sidenavbar>
    
    <!-- Main Grid -->
    
        <div class='content-card' >
    
            <h5 style="text-align: left; margin-top: 5%"> Add New Product</h5>  
            <hr class="hr-silver">
    
    
              <div style="width: 80%; margin-left: 10% ;" >
                      
                            
                        <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" style="margin-top: 2%">
                      
                                <div class="form-group">
                                
                                <label>Product Name</label>
                                <input type="text" [class.is-invalid]="addProductForm.get('prodName').invalid
                                        && addProductForm.get('prodName').touched"
                                       [class.is-valid]="addProductForm.get('prodName').valid" 
                                       formControlName="prodName" class="form-control">
                            
                                       <small class="text-danger"
                                              [class.d-none]="addProductForm.get('prodName').valid
                                              || addProductForm.get('prodName').untouched">
                                           Invalid name </small>
                                
                                </div>
                            
                                <div class="form-group" hidden="true">
                    
                                    <label>Product Status </label>
                                    <input type="text" [class.is-invalid]="addProductForm.get('prodStatus').invalid
                                            && addProductForm.get('prodStatus').touched"
                                           [class.is-valid]="addProductForm.get('prodStatus').valid" 
                                           formControlName="prodStatus" class="form-control">
                                
                                           <small class="text-danger"
                                                  [class.d-none]="addProductForm.get('prodStatus').valid
                                                  || addProductForm.get('prodStatus').untouched">
                                               Please Enter correct status </small>
                                    
                                </div>                      
                                
                                <div class="form-group">
                    
                                        <label>Product Cost</label>
                                        <input type="number" [class.is-invalid]="addProductForm.get('prodCost').invalid
                                                && addProductForm.get('prodCost').touched"
                                               [class.is-valid]="addProductForm.get('prodCost').valid" 
                                               min="1" max="1000" oninput="validity.valid||(value='');"
                                               formControlName="prodCost" class="form-control">
                                  
                                               <small class="text-danger"
                                                      [class.d-none]="addProductForm.get('prodCost').valid
                                                      || addProductForm.get('prodCost').untouched">
                                                   Please Enter correct cost </small>
                                        
                                </div>   
                    
                                <button mat-raised-button 
                                        type="submit" 
                                        title="Add in Product List"
                                        [disabled]="addProductForm.get('prodName').invalid
                                                    || addProductForm.get('prodCost').invalid"
                                        style="width:30%; left:10%; margin-right: 20%; " >
                                    <mat-icon>add</mat-icon>
                                    ADD
                                </button>
                    
                                <button mat-raised-button 
                                        type="submit"
                                        title="Cancel" 
                                        (click)="onClickCancel()"
                                        style="width:30%; left:10%; "> 
                                    <mat-icon>cancel</mat-icon>
                                       Cancel
                                 </button>
                            
                            </form>
                    </div>
 
          
        
          
        </div>
    
    </div>
    


