<!-- Header Toolbar -->

<header></header>


<!-- Central Containt -->
<div class="content-div">

  <!-- SideBar List -->
  <sidenavbar></sidenavbar>

<!-- Main Grid -->

  <div class='content-card' >

 
      
      <div class="content-div" >
        
        <img width="70%" style=" margin-left: 15%;margin-top: 5%" title="Error-404 Not Found "
               src="https://previews.123rf.com/images/gmast3r/gmast3r1708/gmast3r170800452/83954830-error-icon-404-not-found-broken-message-banner-flat-vector-illustration.jpg">
     
               <!-- Header Toolbar -->  


      </div>

  
    
  </div>

</div>


