<!-- Header Toolbar -->

<header></header>
    
    
    <!-- Central Containt -->
    <div class="content-div">
    
        <!-- SideBar List -->
        <sidenavbar></sidenavbar>
    
    <!-- Main Grid -->
    
        <div class='content-card' >
    
          
    
       
            <div class="content-div" *ngIf="homePage">
                <img width="80%" style=" margin-left: 10% ; margin-top: 0%" title="Inventory Management "
                     src="assets/images/dims home image.jpg">
            </div>
    
         
          
          
    </div>
    
    </div>
    
    
    <!-- Footer Toolbar-->
    
    <!-- <mat-toolbar style="background: linear-gradient( #bdc3c7 , #2c3e50)" class="footer-toolbar">
    
        <mat-toolbar-row>
      
          <span class="footer-centralizer">
            <mat-icon class="footer-row-icon " aria-hidden="false">grade</mat-icon>
            <small style="padding-bottom:55px; padding-left:20%;"> DiMS - 2019 </small> 
            <mat-icon class="footer-row-icon" aria-hidden="false">grade</mat-icon>
          </span>
        </mat-toolbar-row>
      
      </mat-toolbar>  -->