<!-- Header Toolbar -->

<header></header>

<!-- Central Containt -->
<div class="content-div">

  <!-- SideBar List -->
  <sidenavbar></sidenavbar>

<!-- Main Grid -->

  <div class='content-card' >

  
    <h5 style="text-align: left; margin-top: 3%"> Edit Product Details</h5>  
    <hr class="hr-silver">


    <div >
      <form class="edit-product" name="editProductForm" #editProductForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="productName">Product Name</label>
              <input id="productName" type="text" class="form-control" name="productName" ngModel #productName="ngModel"
                  [(ngModel)]="product.productName">
          </div>
  
          <div class="form-group">
              <label for="productStatus">Status</label><br>
              <input id="productStatus" type="radio" checked="checked" name="productStatus" value="active"
                  ngModel #productStatus="ngModel" [(ngModel)]="product.productStatus">Active<br>
              <input id="productStatus" type="radio"  name="productStatus" value="inactive"
                  ngModel #productStatus="ngModel" [(ngModel)]="product.productStatus">Inactive<br>
          </div>
  
          <div class="form-group">
              <label for="productCost">Cost</label>
              <input id="productCost" type="number" class="form-control"
                     min="1" oninput="validity.valid||(value='');" 
                     name="productCost" ngModel #productCost="ngModel"
                  [(ngModel)]="product.productCost">
          </div>
          
          <button mat-raised-button 
                          class="btn btn-secondary side-button"
                          title="Update Product Details"
                          (click)="onClickUpdateProduct()"
                          [disabled]="editProductForm.untouched"
                          aria-label="Button that displays a tooltip that can be programatically disabled"
                         >
                          <mat-icon >autorenew</mat-icon>                  
                          Update Product Details    
          </button>

      </form>
  </div>  
    
     
  </div>

</div>




<!-- Mat Table for retailer list  -->



